<div class="quadro">
  <div class="container">
    <div class="col-md-12 header">

      <h6>Histórico Reembolso</h6>

      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        Criar Reembolso
      </button>
      <!-- Modal -->
      <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="staticBackdropLabel">Criar Reembolso</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form [formGroup]="reembolso">
                <div class="col-md-12" style="display: flex;">
                    <label for="inputText">Nome: José da silva</label>
                    <input type="text" id="nome" name="nome" class="form-control" formControlName="nome" style="display: none;">
                </div>
                <div class="col-md-12" style="display: flex;">
                  <div class="col-md-4" style="margin: 5px;">
                    <label for="inputText">Valor</label>
                    <input type="text" id="valor" name="valor" class="form-control" formControlName="valor">
                  </div>
                  <div class="col-md-4" style="margin: 5px;">
                    <label for="inputText">Motivo</label>
                    <select id="motivo" name="motivo" class="form-control" formControlName="motivo" placeholder="Selecione um motivo">
                      <option value="Viagem">Viagem</option>
                      <option value="Comprar">Compras</option>
                      <option value="Hora Extra">Hora Extra</option>
                      <option value="Hora Extra">Refeições</option>
                    </select>
                  </div>
                  <div class="col-md-3" style="margin: 5px;">
                    <label for="inputText">Data</label>
                    <input type="date" id="data" name="data" class="form-control" formControlName="data">
                  </div>

                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                  <button type="submit" class="btn btn-primary">Solicitar</button>
                </div>
              </form>
            </div>

          </div>
        </div>
      </div>

    </div>
    <div class="col-md-12">
      <table class="table table-striped">
        <thead>
          <tr class="text-muted">
            <th scope="col">N°</th>
            <th scope="col">Nome</th>
            <th scope="col">Valor</th>
            <th scope="col">Motivo</th>
            <th scope="col">Data</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>1</th>
            <td>José da silva</td>
            <td>R$1.000,00</td>
            <td>Visita ao cliente</td>
            <td>10/10/2023</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
