<div class="quadro">
    <div class="container">
      <div class="col-md-12 header">

          <h6>Histórico Reembolso</h6>

          <button class="btn btn-primary">Criar Reembolso</button>

      </div>
      <div class="col-md-12">
        <table class="table table-striped">
          <thead>
            <tr class="text-muted">
              <th scope="col">N°</th>
              <th scope="col">Funcionário</th>
              <th scope="col">Valor</th>
              <th scope="col">Opções</th>
            </tr>
          </thead>
          <tbody >
            <tr >
              <th>1</th>
              <td>José da silva</td>
              <td>R$1.000,00</td>
              <td>
                <button class="btn btn-primary btp">Aprovar</button>
                <button class="btn btn-danger btp">Reprovar</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
