<div class="quadro">
  <div class="container">
    <div class="col-md-12 header">
      <div class="col-md-6" style="display: flex; align-items: center;">
        <h6>Solicitações de Reembolso</h6>
      </div>
      <div class="col-md-6" style="display: flex; justify-content: end;">
        <button type="button" class="btn btn-primary m-2" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
          Visualizar Relatório
        </button>
        <button type="button" class="btn btn-danger m-2" (click)="voltar()">
          <i class="bi bi-box-arrow-left"></i>
        </button>
      </div>
      <!-- Modal -->
      <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="staticBackdropLabel">Visualizar Relatório</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <h6>Escolha o periodo</h6>
              <form [formGroup]="periodo" (ngSubmit)="onSubmit()">
                <div class="col-md-12" style="display: flex;">
                  <div class="col-md-5" style="margin: 5px;">
                    <label for="inputText">Data Inicio</label>
                    <input type="date" id="dataInicio" name="dataInicio" class="form-control" formControlName="dataInicio">
                  </div>
                  <div class="col-md-5"  style="margin: 5px;">
                    <label for="inputText">Data Fim</label>
                    <input type="date" id="dataFim" name="dataFim" class="form-control" formControlName="dataFim">
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                  <button type="submit" class="btn btn-primary">Visualizar</button>
                </div>
              </form>
            </div>

          </div>
        </div>
      </div>

    </div>
    <div class="col-md-12">
      <table class="table table-striped" >
        <thead>
          <tr class="text-muted">
            <th scope="col">N°</th>
            <th scope="col">Valor</th>
            <th scope="col">Motivo</th>
            <th scope="col">Data</th>
            <th scope="col">Estado</th>
          </tr>
        </thead>
        <tbody *ngFor="let item of dados">
          <tr>
            <th>{{ item.id || "Nenhum Reembolso Solicitado"}}</th>
            <td>{{ item.valor }}</td>
            <td>{{ item.motivo }}</td>
            <td>{{ item.dataReembolso }}</td>
            <td *ngIf="item.estado !== 'PENDENTE'" style="padding-left: 20px;">{{ item.estado }}</td>
            <td *ngIf="item.estado == 'PENDENTE'">
              <button class="btn btn-primary btp" (click)="aprovaReembolso(item.id)">Aprovar</button>
              <button class="btn btn-danger btp" (click)="reprovaReembolso(item.id)">Reprovar</button>
            </td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>